body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  margin-top: 10px;
}

.box {
  display: flex;
  align-items: stretch;

}

.category {
  width: 200px;
}

.column {
  width: 200px;
}

.categoryDeleteButton {
  display: flex;
  margin-left: auto;
}


.header {
   margin-top: 10px;
  display: flex;
  align-items: stretch;
  font-size: 23px;
  margin-left: 300px;
}
