:root {
  --blue: #1e90ff;
  --white: #ffffff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table-entries-titles {
    color: var(--blue)
}

.remove-button {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
   background-color: red;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    color: white;
    display: inline-block ;
   margin: 4px 2px 2px 2px;
    cursor: pointer;
    border: 1px solid transparent;
}

.category-delete-button {
  background-color: dimgrey;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  border: 1px solid transparent;
}

.edit-button{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: aliceblue;
  color: black;
  text-align: center;
  font-size: 16px;
  border-radius: 8px ;
  border: 1px solid transparent;

}

.title {
  margin-top: 10px;
}

.box {
  margin-left: 10px;
  display: flex;
  align-items: stretch;

}

.category {
  display: flex;
  justify-content: center;
  width: 200px;
  margin-bottom: 20px;
}

.column {
  width: 200px;
}

.category-delete-button {
  display: flex;
  margin-left: auto;
}


.header {
   margin-top: 10px;
  display: flex;
  align-items: stretch;
  font-size: 23px;
  margin-left: 300px;
}

.table-body {
  margin-left: 30px;
 }

.button {
    background-color: green;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    color: white;
    display: inline-block ;
    margin: 4px 6px;
    cursor: pointer;
    border: 1px solid transparent;
}
